@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #f7f7f7;
}

.scrollbar-w-2::-webkit-scrollbar {
    width: 0.55rem;
    height: 0.25rem;
}

.scrollbar-track-custom::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #2a3f54;
}

.scrollbar-track-custom-main::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #f2eded;
}

.scrollbar-thumb-custom::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #35495d;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.8rem;
    background-color: #35495d;
}